// inject-style src="./dist/css/styles.css"
.lp-digest
    .lp-digest-menu
        a.lp-digest-menu__item(href="#digest-herald") ВЕСТНИК СТРАТЕГИЙ
        a.lp-digest-menu__item(href="#digest-dynamics") ДИНАМИКА СТРАТЕГИЙ
        a.lp-digest-menu__item(href="#digest-markets") ЧТО ПРОИСХОДИТ НА РЫНКАХ
        a.lp-digest-menu__item(href="#digest-histories") ИСТОРИИ УСПЕХА
        a.lp-digest-menu__item(href="#digest-ratings") РЕЙТИНГИ И СБОРЫ
    #digest-ratings.lp-digest__title Рейтинги и сборы
    p Для каждого дайджеста мы анализируем статистику по сборам текущего квартала и определяем лучших сотрудников. Они усердно работали и показали лучший результат.
    p
        b Уверены, достижения ваших коллег станут хорошим примером и вдохновят вас на активные продажи!
    .lp-digest-section
        .lp-digest-section-head
            .lp-digest-section-heading
                .lp-digest-section-heading-item.lp-digest-section-heading-item--left
                    img(src="inline(./img/lp-digest-heading--left.png)")
                .lp-digest-section-heading-item.lp-digest-section-heading-item--center
                    b Лучший сотрудник макрорегиона
                    p I квартал
                .lp-digest-section-heading-item.lp-digest-section-heading-item--right
                    img(src="inline(./img/lp-digest-heading--right.png)")
        .lp-digest-section-body
            table.lp-digest-table
                tr
                    td.lp-digest-table__cell Урал
                    td.lp-digest-table__cell
                        b Юлия Гапон
                    td.lp-digest-table__cell.lp-digest-table__cell--red.lp-digest-table__cell--right 5 567 271 ₽
                tr
                    td.lp-digest-table__cell Южное Поволжье
                    td.lp-digest-table__cell
                        b Наталья Титкова
                    td.lp-digest-table__cell.lp-digest-table__cell--red.lp-digest-table__cell--right 3 751 100 ₽
                tr
                    td.lp-digest-table__cell Южное Поволжье
                    td.lp-digest-table__cell
                        b Наталья Титкова
                    td.lp-digest-table__cell.lp-digest-table__cell--red.lp-digest-table__cell--right 3 751 100 ₽
    .lp-digest-section
        .lp-digest-section-head
            b ТОП-3 областных центра
        .lp-digest-section-body
            .lp-digest-section-row
                .lp-digest-section-row-column
                    .lp-digest-section-block
                        .lp-digest-section-block-image
                            img(src="inline(./img/lp-digest-map-pin.png)")
                        .lp-digest-section-block-content
                            .lp-digest-section-block-content-text Пермь
                            .lp-digest-section-block-content-text 51 524 245 ₽
                .lp-digest-section-row-column
                .lp-digest-section-row-column

