// inject-style src="./dist/css/styles.css"
.digest
    .digest-menu
        a.digest-menu__item(href="#digest-ratings") РЕЙТИНГИ И СБОРЫ
        a.digest-menu__item(href="#digest-herald") ВЕСТНИК СТРАТЕГИЙ
        a.digest-menu__item(href="#digest-dynamics") ДИНАМИКА
        a.digest-menu__item(href="#digest-read") ПОЧИТАТЬ
        a.digest-menu__item(href="#digest-interesting") ВСЕМ ИНТЕРЕСНО
        a.digest-menu__item(href="#digest-histories") ИСТОРИИ УСПЕХА

    .digest-warning
        .digest-warning__icon
            img(src="inline(./views/august_2021/img/sad-face.png)")
        .digest-warning__text
            b Простите нас, что пропустили июльский дайджест.
            br
            |  Постараемся впредь вас так не подводить. В качестве компенсации включили в дайджест больше полезных новостей для ваших продаж.

    //- Разделение блока
    //- Рейтинги и сборы
    #digest-ratings.digest-box
        .digest-h1 Рейтинги и сборы
        p Для каждого дайджеста мы анализируем статистику по сборам текущего квартала и определяем лучших сотрудников. Они усердно работали и показали лучший результат.
        p
            b Уверены, достижения ваших коллег станут хорошим примером и вдохновят вас на активные продажи!
        .digest-section
            .digest-section-head
                .digest-section-heading
                    .digest-section-heading-item.digest-section-heading-item--left
                        img(src="inline(./views/august_2021/img/lp-digest-heading--left.png)")
                    .digest-section-heading-item.digest-section-heading-item--center
                        .digest-section-heading-item__title Лучший сотрудник макрорегиона
                        .digest-section-heading-item__caption III квартал
                    .digest-section-heading-item.digest-section-heading-item--right
                        img(src="inline(./views/august_2021/img/lp-digest-heading--right.png)")
            .digest-section-body
                table.digest-table
                    tr
                        td.digest-table__cell Южное Поволжье
                        td.digest-table__cell
                            b Елена Матушкина
                        td.digest-table__cell.digest-table__cell--red.digest-table__cell--right 6 295 000 ₽
                    tr
                        td.digest-table__cell Центр
                        td.digest-table__cell
                            b Надежда Подерягина
                        td.digest-table__cell.digest-table__cell--red.digest-table__cell--right 5 800 000 ₽
                    tr
                        td.digest-table__cell Северное Поволжье
                        td.digest-table__cell
                            b Вероника Анохина
                        td.digest-table__cell.digest-table__cell--red.digest-table__cell--right 3 350 000 ₽
                    tr
                        td.digest-table__cell Урал
                        td.digest-table__cell
                            b Елена Бочкарева
                        td.digest-table__cell.digest-table__cell--red.digest-table__cell--right 2 940 000 ₽
                    tr
                        td.digest-table__cell Москва
                        td.digest-table__cell
                            b Виктория Клименко
                        td.digest-table__cell.digest-table__cell--red.digest-table__cell--right 2 703 480 ₽
                    tr
                        td.digest-table__cell Северный Кавказ
                        td.digest-table__cell
                            b Лиана Лиева
                        td.digest-table__cell.digest-table__cell--red.digest-table__cell--right 2 100 000 ₽
        .digest-section
            .digest-section-head
                .digest-section-heading
                    b ТОП-3 областных центра
            .digest-section-body
                .digest-row
                    .digest-row-column
                        .digest-section-block
                            .digest-section-block-image
                                img(src="inline(./views/august_2021/img/lp-digest-map-pin.png)")
                            .digest-section-block-content
                                .digest-section-block-content__text
                                    b Казань
                                .digest-section-block-content__text.digest-section-block-content__text--price 38 959 628 ₽
                    .digest-row-column
                        .digest-section-block
                            .digest-section-block-image
                                img(src="inline(./views/august_2021/img/lp-digest-map-pin.png)")
                            .digest-section-block-content
                                .digest-section-block-content__text
                                    b Челябинск
                                .digest-section-block-content__text.digest-section-block-content__text--price 31 739 597 ₽
                    .digest-row-column
                        .digest-section-block
                            .digest-section-block-image
                                img(src="inline(./views/august_2021/img/lp-digest-map-pin.png)")
                            .digest-section-block-content
                                .digest-section-block-content__text
                                    b Воронеж
                                .digest-section-block-content__text.digest-section-block-content__text--price 27 330 489 ₽

    //- Разделение блока
    //- Вестник стратегий
    #digest-herald.digest-box
        .digest-h1 Вестник стратегий
        //- Блок 1
        .digest-content
            .digest-image
                img(src="inline(./views/august_2021/img/david-pupaza-Km5J-KCP1Mw-unsplash.png)")
            .digest-h3 Spotify выкупит свои акции на 1 млрд $
            .digest-label Важно для стратегии «Всегда онлайн»
            p Spotify объявил, что в течение пяти лет потратит 1 млрд $ на обратный выкуп своих акций. Финансисты называют этот процесс байбэк, с англ. buy-back. Главная цель buy-back — вознаградить акционеров, вернуть им часть кэша. Обратный выкуп может повысить стоимость отдельной акции: бумаг в обороте становится меньше при том же спросе, поэтому они растут в цене. Акции Spotify после новости выросли на 5,1%.
            p Из финотчета видно, что у Spotify есть на это деньги. Компания завершила второй квартал с 3 млрд € денежных средств. Свободный денежный поток составил 31 млн € и вырос на 7 млн € несмотря на «более высокие затраты на выплату лицензий, подкаст-активность и рекламу».
            p Потратив 1 млрд $ в ближайшие пару лет, Spotify не останется без гроша: компания продолжит генерировать много кэша. Напротив, buy-back подчеркивает долгосрочную веру компании в собственный бизнес, поддержит капитализацию и повысит стоимость акций.
            p Buyback объявлен на уровнях, на которых Spotify видит недооценку своих акций. Сейчас они находятся в районе 250 долларов, что на 20% ниже уровня начала года.
        //- Блок 2
        .digest-content
            .digest-image
                img(src="inline(./views/august_2021/img/sweden-23-january-2019-veoneer-600w-1901850145 1.png)")
            .digest-h3 Qualcomm хочет купить шведскую технологическую компанию Veoneer
            .digest-label Важно для стратегии «Всегда онлайн»
            p Американский производитель чипов Qualcomm предложил 4,6 млрд $ за шведскую компанию Veoneer. Это на 18% больше, чем предложила канадская фирма Magna — сделку Veoneer и Magna в июле одобрили советы директоров обеих компаний.
            p Veoneer разрабатывает усовершенствованные системы помощи водителю (ADAS). Сюда входит программное обеспечение, датчики, сенсоры и камеры, которые помогают управлять автомобилем и парковкой. Например, автоматически держать и менять полосы, экстренно тормозить или парковаться в сложных условиях — все без участия водителя.
            p Покупка Veoneer укрепит позиции Qualcomm на развивающемся рынке ассистентов вождения. Системы предотвращения ДТП и автономного вождения становятся жарким полем для конкуренции технологических компаний. Veoneer позволит Qualcomm конкурировать с системами Mobileye от Intel и Xavier от NVIDIA.
            p Qualcomm пытается диверсифицировать бизнес и выйти за рамки продуктов для смартфонов. В прошлом году на автомобильную отрасль пришлось лишь 3% выручки Qualcomm с продаж чипов, но последние кварталы этот показатель медленно растет.
        //- Блок 3
        .digest-content
            .digest-image
                img(src="inline(./views/august_2021/img/zhiyue-xu-7DOU5NlNIcE-unsplash 1.png)")
            .digest-h3 Комиссия по справедливой торговле Японии закрыла расследование в отношении Apple и App Store
            .digest-label Важно для стратегии «Всегда онлайн»
            p Компания Apple пошла на уступки регуляторам и разработчикам приложений. Теперь компания не будет брать 30-процентную комиссию с приложений с подписным медиаконтентом.
            p Раньше Apple запрещала разработчикам рассказывать пользователям об альтернативных способах оплаты — все внутренние платежи должны были проходить через App Store. С каждого платежа Apple удерживала комиссию до 30%. Например, Spotify не мог предложить вам заплатить за музыку через свой сайт. Apple ему говорила: «Будьте добры, принимайте платежи только через нас и отдавайте нам процент».
            p Теперь Apple разрешила разработчикам приложений с подписным медиаконтентом добавлять ссылки на свои сайты, где пользователи смогут производить оплату. Это коснется стриминговых сервисов музыки и видео, цифровых библиотек книг, журналов и газет. Например, Spotify, Netflix или Bookmate.
            p С одной стороны, выручка с App Store очевидно снизится. Весной Apple уже смягчала правила: разработчики приложений с годовой выручкой меньше миллиона долларов ближайшие три года будут платить комиссию 15% вместо 30%. Но Apple много не потеряет: 70% выручки App Store дают мобильные игры, на которые новые уступки не распространяются. При этом компания сохранила и прежний способ оплаты через App Store — кому-то будет удобнее проводить платежи старым способом.
            p Уступки Apple — позитив с точки зрения регуляторных рисков. Компания избежит штрафов за нарушение законов. Например, во вторник Южная Корея на законодательном уровне запретила Apple и Google навязывать свои способы оплаты и комиссии.
            p В выигрыше такие компании, как Netflix и Spotify. За счет уступки Apple они могут увеличить маржу или привлечь новых пользователей за счет снижения стоимости подписки.
        //- Блок 4
        .digest-content
            .digest-image
                img(src="inline(./views/august_2021/img/markus-spiske-XrIfY_4cK1w-unsplash 1.png)")
            .digest-h3 NVIDIA снова бьет рекорды и радует инвесторов
            .digest-label Важно для стратегии «Alfa Life Technology 2.0»
            p Крупнейший американский чипмейкер NVIDIA отчитался за второй квартал 2022 финансового года. NVIDIA добилась рекордной квартальной выручки 6,5 млрд $, которая год к году выросла на 68%. Чистая прибыль увеличилась на 280% и составила 2,4 млрд. Финансовые результаты превысили прогнозы аналитиков, которые и так были высокими.
            p Компании помогли рекордные доходы в важных сегментах: платформ для игр (+85%) — это видеокарты GeForce и чипы для игровых консолей; центров обработки данных (+35%) и профессиональных платформ визуализации (+156%).
            p В третьем квартале NVIDIA планирует выручить 6,8 млрд — на 45% больше, чем год назад. Акции после отчета выросли на 2,3%. С начала года они прибавили 50% и стали настолько дорогими, что компания провела их деление в отношении 4 к 1.
        //- Блок 5
        .digest-content
            .digest-image
                img(src="inline(./views/august_2021/img/mobile-5g-network-technology-symbol-600w-1316223089 1.png)")
            .digest-h3 Qualcomm растет за счет 5G
            .digest-label Важно для стратегии «Всегда онлайн»
            p Страны по всему миру модернизируют сети до стандарта 5G, а потребители покупают новые устройства c поддержкой новой технологии связи. На этом фоне растет спрос на чипы Qualcomm, поэтому компания наращивает финансовые показатели и дает отличные прогнозы.
            p Результаты Qualcomm могли быть еще лучше, если бы компания могла получить больше комплектующих от контрактных производителей. В их числе — TSMC и Samsung Electronics. К концу года Qualcomm ожидает существенного улучшения поставок, что положительно скажется на продажах компании. Важно, что появится еще один крупный поставщик — Intel.
            p Qualcomm зарабатывает в первую очередь на телефонных чипах, но теперь планирует расширить деятельность: получить заказы для компьютеров, сетевого оборудования и бытовой электроники. По этим, пока что не ключевым направлениям, планируется выручить за год порядка 10 млрд $. Для справки: в 2020-м общая выручка Qualcomm составила 22,5 млрд $.
            p «Мы становимся компанией, которая незаменима во многих других отраслях», — заявил Кристиано Амон, CEO Qualcomm.
        //- Блок 6
        .digest-content
            .digest-image
                img(src="inline(./views/august_2021/img/simon-abrams-k_T9Zj3SE8k-unsplash 1.png)")
            .digest-h3 Число интернет-запросов американцев со словами «удаленная работа» за два года выросло на 460%
            .digest-label Важно для стратегии «оставайтесь дома 2.0»
            p Компания интернет-рекрутмента Glassdoor провела исследование того, как в США ищут удаленную работу. Главный вывод: за два года доля интернет-запросов на поиск удаленных вакансий выросла на 460%.
            p Интерес к удаленке в последние месяцы замедлил рост. Но он по-прежнему выше допандемийных уровней несмотря на ослабление ковидных ограничений и возобновление работы офисов. По словам старшего экономиста Glassdoor, это говорит о том, что тренд на удаленную работу сохранится даже после победы над пандемией.
            p По данным Бюро трудовой статистики США, в стране 14% людей работает из дома. Glassdoor признает, что спрос на удаленку может быть даже выше, чем показывают данные интернет-запросов, поскольку не все работники, желающие работать удаленно, целенаправленно ищут такие вакансии.

    //- Разделение блока
    //- Динамика стратегий
    #digest-dynamics.digest-box
        .digest-h1 Динамика стратегий и где за ней следить
        .digest-image
            img(src="inline(./views/august_2021/img/Group 966.png)")
        .digest-image
            img(src="inline(./views/august_2021/img/Group 967.png)")
        .digest-image
            img(src="inline(./views/august_2021/img/Group 968.png)")
        .digest-row
            .digest-row-column.digest-row-column--7
                img(src="inline(./views/august_2021/img/Group 923.png)")
                p
                    b Как вели себя стратегии ИСЖ и почему? На что влияют заявления глав государств и центральных банков, какие отчетности презентуют голубые фишки США, Европы и Азии?
                p Все это — в интерактивном Экспрессе. Просто вбейте название нужной стратегии в поисковую строку.
                p Калькулятор на Экспрессе поможет вам объяснить клиенту работу купонных стратегий. Он подгружает реальные закупки с конкретными датами, целевыми уровнями и купонами.
                p Для потенциальных клиентов вы рассчитаете доход исходя из суммы вноса, а для действующих — оцените промежуточный результат работы программы и её перспективы.
            .digest-row-column.digest-row-column--5
                img.digest-image(src="inline(./views/august_2021/img/iphone.png)", style="mix-blend-mode: multiply" width="100%")

    //- Разделение блока
    //- Что происходит на рынках
    #digest-read.digest-box
        .digest-h1 Акции Spotify: каковы причины недавнего снижения и есть ли шансы восстановиться
        .digest-content
            .digest-image
                img(src="inline(./views/august_2021/img/david-svihovec-xMH2vteiEY4-unsplash 1.png)")
            p В Почта Банке запустилась купонная стратегия «Всегда онлайн». Она состоит из акций Broadcom, Qualcomm, Apple, Spotify и AMD. Рассказываем, почему акции Spotify снижались последние полгода и есть ли у них шансы на дальнейший рост.
            p Spotify — ведущий музыкальный стриминговый сервис с доступом к огромной библиотеке музыкальных композиций, аудиокниг и различных подкастов. Spotify занимает треть рынка потокового воспроизведения музыки, тогда как ни один из конкурентов не достигает отметки в 20%: Apple Music, Amazon Music, Tencent Music и YouTube Music.
            .digest-h4 Почему бумаги Spotify снижались
            p Акции Spotify снизились на 20% с начала года: декабрь они завершили на уровне 320 долларов, а сейчас стоят ниже 250. Все дело в общей коррекции технологического сектора весной 2021 года и завышенных ожиданиях инвесторов.
            p
                b Коррекция общего рынка.
                |  Акции Spotify следовали за общим трендом технологического сектора. В феврале—марте инвесторы почувствовали, что ФРС США (аналог российского центробанка) скоро начнет сворачивать стимулирующие меры и повышать процентные ставки. Это вызвало рост доходностей государственных облигаций США. Акции роста, к которым и относится Spotify, — наиболее чувствительны к росту доходностей. Это и оказало на них давление.
            p
                b Завышенные ожидания.
                |  Последние финансовые отчеты Spotify были неплохими: выручка и операционная прибыль растут, число активных и премимум-пользователей увеличивается. Главная проблема: число активных пользователей (показатель MAU) растет не так сильно, как хотели бы инвесторы. Все привыкли, что во время пандемии в 2020 году темпы роста MAU Spotify каждый квартал росли. Но теперь компания не дотягивает до прогнозов рынка — и это негативно сказывается на ее акциях. 
            .digest-h4 Чего ждать дальше
            p Spotify по-прежнему находится в стадии активного роста, поэтому главное, за чем следят инвесторы, — привлечение новых пользователей и успешная монетизация проектов.
            .digest-label.digest-label--strong Аналитики по-прежнему видят более чем 30-процентный потенциал роста акций Spotify. Это также подтверждается позитивным пересмотром финансовых показателей — консенсус Bloomberg. В то же время текущая оценка относительно рынка технологичных акций (индекс Nasdaq 100) также предполагает рост в 30%.
            p Spotify зарабатывает не только на платной музыкальной подписке. У компании много перспективных проектов:
            ul
                li
                    b Spotify Audience Network.
                    |  Помимо музыки Spotify активно развивает подкасты — аудио-программы, которые можно скачивать или слушать онлайн. Для монетизации подкастов компания запустила маркетплейс с таргетированной аудиорекламой Spotify Audience Network. Он позволит подкастерам «зарабатывать деньги на рекламе, а рекламодателям ― охватить многомиллионную аудиторию Spotify как в пределах сервиса, так и вне его».
                li
                    b Megaphone и Anchor.
                    |  Обе платформы позволят Spotify развивать направление подкастов и успешнее их монетизировать.
                li
                    b Hi-Fi.
                    |  Spotify можно слушать бесплатно с ограничениями — для платных подписчиков предусмотрена возможность прослушивания музыки в высоком разрешении.
                li
                    b Spotify Ad Studio.
                    |  В бесплатной версии пользователи Spotify прослушивают рекламу между песнями. Это работает с помощью Ad Studio: платформы, которая позволяет исполнителям делиться своей музыкой с короткими рекламными аудио-объявлениями длиной 30 секунд или меньше. По словам Spotify, это самый быстрорастущий канал продаж.

    //- Разделение блока
    //- <ПУСТО>
    #digest-interesting.digest-box
        .digest-h1 Исследование
        .digest-content
            .digest-section
                .digest-row
                    .digest-row-column
                        .digest-image.digest-image--abs
                            img(src="inline(./views/august_2021/img/Mask Group.png)")
                        .digest-block
                            .digest-section__title.digest-section__title--white AMD покупает Xilinx: рассказываем о героях сделки и почему об этом важно знать
                    .digest-row-column
                        .digest-block.digest-block--special
                            .digest-block-head
                                .digest-block-head__icon
                                    img(src="inline(./views/august_2021/img/laptop.png)", width="40px")
                                .digest-block-head__title Чем занимается AMD
                            p AMD — в составе стратегии «Всегда онлайн». Это американский производитель электроники. Выпускает центральные и графические процессоры, материнские платы и чипсеты. Этот сегмент приносит 2/3 выручки. Полупроводники AMD используются в ноутбуках, стационарных компьютерах, игровых консолях, серверах.
                            p На рынке центральных процессоров AMD конкурирует главным образом с Intel, на рынке графических — с NVIDIA.

        .digest-row.digest-row--15
            .digest-row-column
                .digest-block.digest-block--special
                    .digest-block-head
                        .digest-block-head__icon
                            img(src="inline(./views/august_2021/img/stars.png)", width="40px")
                        .digest-block-head__title Значение Xilinx
                    p Xilinx производит микросхемы для дата-центров и 5G-оборудования. Особенность ее чипов в специальной начинке: благодаря ей микросхемы  Xilinx используются во всех сферах, где необходимо машинное обучение и искусственный интеллект. Таким мало кто может похвастаться.
                    .digest-label.digest-label--small Технологии искусственного интеллекта активно применяются в беспилотном транспорте, облачных вычислениях, распознавании речи, робототехнике.
            .digest-row-column
                .digest-block.digest-block--special
                    .digest-block-head
                        .digest-block-head__icon
                            img(src="inline(./views/august_2021/img/card.png)", width="40px")
                        .digest-block-head__title Почему AMD покупает Xilinx
                    p Дело в конкуренции. AMD уже опережает Intel в секторе центральных процессоров. Xilinx — один из лидеров на рынке микросхем для продуктов на основе искусственного интеллекта.
                    p Благодаря покупке AMD может обогнать Intel и в этой сфере.
                    .digest-label.digest-label--small Технологии искусственного интеллекта активно применяются в беспилотном транспорте, облачных вычислениях.

        .digest-section
            .digest-row
                .digest-row-column
                    .digest-block.digest-block--special
                        .digest-block-head
                            .digest-block-head__icon
                                img(src="inline(./views/august_2021/img/hand.png)", width="40px")
                            .digest-block-head__title Чем еще это выгодно для AMD
                        p Теперь AMD сможет работать сразу над несколькими видами процессоров: центральными, графическими и чипами для продуктов на основе искусственного интеллекта.
                        .digest-label.digest-label--small Потенциальный эффект от сделки не ограничивается новым рынком и многообещающими технологиями.
                .digest-row-column
                    .digest-image.digest-image--abs
                        img(src="inline(./views/august_2021/img/Mask Group2.png)")
                    .digest-block
                        .digest-section__title.digest-section__title--white Покупка Xilinx — один из важых потенциальных драйверов роста акций AMD
    //- Разделение блока
    //- Истории успеха
    #digest-histories.digest-box
        .digest-h1 Истории успеха
        .digest-row.digest-row--15
            .digest-row-column--4
                img(src="inline(./views/august_2021/img/Group 926.png)", width="238px")
            .digest-row-column--8
                .digest-story
                    .digest-story__title «Нужно просто начать говорить с клиентом»
                    .digest-story__name Светлана Булюбаш
                    .digest-story__info Финансовый эксперт
                    .digest-story__info ОПС 109559, г. Москва
                    p В один из рабочих дней пришла клиентка, у которой лежала крупная сумма денег на счету. Заявила, что хочет забрать свои вложения. «Ставки в банке упали ниже некуда и скоро мы будем доплачивать за то, что у нас деньги тут лежат».
                    p Я поинтересовалась, нашла ли клиентка выгодное для себя предложение. Клиентка сказала «да», но банк не озвучила. Я спросила: со всеми ли нашими программами она ознакомилась? После этой фразы клиентка проявила интерес, и мы начали обсуждать наш продукт ИСЖ.
                    p Это было непросто! Она сомневалась по поводу доходности и гарантии возврата вложенных средств. При этом через год-полтора клиентка хотела воспользоваться частью средств. Мы обсудили все нюансы, развеяли все страхи и сомнения, я рассказала о компании «АльфаСтрахование-Жизнь», что она одна из самых надежных и перспективных компаний России. В итоге решили разделить сумму на ИСЖ и вклад.
                    p Одним из решающих аргументов стало то, что клиент сразу при оформлении продукта может назначить выгодоприобретателя (наследница – дочь) и для этого не надо идти к нотариусу. После оформления клиентка ушла очень довольная и была очень благодарна, сказав, что на самом деле ставки в других банках очень низкие, а наша программа «ИСЖ + вклад» очень выгодная!
                    .digest-label.digest-label--strong Секретов в оформлении особенно нет. Главное: не надо бояться отказов клиента и нужно предлагать ИСЖ каждому потенциальному и действующему вкладчику. Следует с пониманием относиться к клиенту и его потребностям, а для этого нужно просто начать говорить с клиентом и задавать вопросы!