// inject-style src="./dist/css/styles.css"
// inject:script:js
// endinject

.digest
    .digest-menu
        a.digest-menu__item(data-custom-anchor href="#digest-ratings") РЕЙТИНГИ И СБОРЫ
        a.digest-menu__item(data-custom-anchor href="#digest-herald") ВЕСТНИК СТРАТЕГИЙ
        a.digest-menu__item(data-custom-anchor href="#digest-dynamics") ДИНАМИКА
        a.digest-menu__item(data-custom-anchor href="#digest-read") ПОЧИТАТЬ
        a.digest-menu__item(data-custom-anchor href="#digest-interesting") ИНТЕРЕСНО

    //- Разделение блока
    //- Рейтинги и сборы
    #digest-ratings.digest-box
        .digest-h1 Рейтинги и сборы
        p Для каждого дайджеста мы анализируем статистику по сборам текущего квартала и определяем лучших сотрудников. Они усердно работали и показали лучший результат.
        p
            b Уверены, достижения ваших коллег станут хорошим примером и вдохновят вас на активные продажи!
        .digest-section
            .digest-section-head
                .digest-section-heading
                    .digest-section-heading-item.digest-section-heading-item--left
                        img(src="inline(./views/september_2021/img/lp-digest-heading--left.png)")
                    .digest-section-heading-item.digest-section-heading-item--center
                        .digest-section-heading-item__title Лучший сотрудник макрорегиона
                        .digest-section-heading-item__caption III квартал
                    .digest-section-heading-item.digest-section-heading-item--right
                        img(src="inline(./views/september_2021/img/lp-digest-heading--right.png)")
            .digest-section-body
                table.digest-table
                    tr
                        td.digest-table__cell Москва Восток
                        td.digest-table__cell
                            b Виктория Клименко
                        td.digest-table__cell.digest-table__cell--red.digest-table__cell--right 6 503 480 ₽
                    tr
                        td.digest-table__cell Южное Поволжье
                        td.digest-table__cell
                            b Елена Матушкина
                        td.digest-table__cell.digest-table__cell--red.digest-table__cell--right 6 345 000 ₽
                    tr
                        td.digest-table__cell Центр
                        td.digest-table__cell
                            b Надежда Подерягина
                        td.digest-table__cell.digest-table__cell--red.digest-table__cell--right 5 800 000 ₽
                    tr
                        td.digest-table__cell Урал
                        td.digest-table__cell
                            b Александра Шевчук
                        td.digest-table__cell.digest-table__cell--red.digest-table__cell--right 4 977 000 ₽
                    tr
                        td.digest-table__cell Северное Поволжье
                        td.digest-table__cell
                            b Анна Бахтина
                        td.digest-table__cell.digest-table__cell--red.digest-table__cell--right 4 388 500 ₽
                    tr
                        td.digest-table__cell Северный Кавказ
                        td.digest-table__cell
                            b Лиана Лиева
                        td.digest-table__cell.digest-table__cell--red.digest-table__cell--right 2 600 000 ₽
        .digest-section
            .digest-section-head
                .digest-section-heading
                    b ТОП-3 областных центра
            .digest-section-body
                .digest-row
                    .digest-row-column
                        .digest-section-block
                            .digest-section-block-image
                                img(src="inline(./views/september_2021/img/lp-digest-map-pin.png)")
                            .digest-section-block-content
                                .digest-section-block-content__text
                                    b Москва
                                .digest-section-block-content__text.digest-section-block-content__text--price 60 241 815 ₽
                    .digest-row-column
                        .digest-section-block
                            .digest-section-block-image
                                img(src="inline(./views/september_2021/img/lp-digest-map-pin.png)")
                            .digest-section-block-content
                                .digest-section-block-content__text
                                    b Казань
                                .digest-section-block-content__text.digest-section-block-content__text--price 59 910 699 ₽
                    .digest-row-column
                        .digest-section-block
                            .digest-section-block-image
                                img(src="inline(./views/september_2021/img/lp-digest-map-pin.png)")
                            .digest-section-block-content
                                .digest-section-block-content__text
                                    b Челябинск
                                .digest-section-block-content__text.digest-section-block-content__text--price 49 172 756 ₽

    //- Разделение блока
    //- Вестник стратегий
    #digest-herald.digest-box
        .digest-h1 Вестник стратегий
        //- Блок 1
        .digest-content
            .digest-image
                img(src="inline(./views/september_2021/img/annie-spratt-IT6aov1ScW0-unsplash.png)")
            .digest-h3 Кэти Вуд: фондовому рынку еще далеко до «пузыря»
            .digest-label Важно для всех стратегий
            p Кэти Вуд, основатель инвесткомпании Ark Invest и уважаемый инвестор, считает, что рост фондового рынка продлится вплоть до 2028 года. Об этом она заявила в интервью Yahoo Finance.
            p
                b Главные драйверы рынка акций — миллениалы,
                |  считает Вуд. Ближайшие десятилетия миллениалы будут увеличивать свои инвестиционные портфели так же, как «бэби-бумеры» (если не больше). Покупательская способность миллениалов растет, и именно это спровоцировало рост «мемных ценных бумаг» в январе 2021 года.
            p По мнению Кэти Вуд, до «пузыря» на фондовом рынке еще далеко: следующие 5—15 лет будут очень выгодным временем для инвестиций. Акции показывают экспоненциальный рост, которого раньше не было.
            p Вуд заявила о долгожданной «новой парадигме», которая пришла на рынки. Рынкам уже не угрожают распродажи, поскольку любые падения и коррекции будут выкупаться. Ранее о «новой парадигме» вечного роста говорили аналитики Bloomberg: в ближайшее десятилетние инвесторам не угрожают серьезные спады на фондовом рынке.

        //- Блок 2
        .digest-content
            .digest-image
                img(src="inline(./views/september_2021/img/sweden-23-january-2019-veoneer-600w-1901850145.png)")
            .digest-h3 Почему Broadcom сдерживает продажи
            .digest-label Важно для стратегии «Всегда онлайн»
            p У Qualcomm квартальные продажи выросли на 63%, у NVIDIA — на 68%, а у Broadcom — лишь на 16%. Почему так мало?
            p Гендиректор Broadcom Хок Тан все объяснил:
                b компания намеренно ограничивает поставки чипов.
                | Если продать слишком много сейчас, позже спрос резко упадет. Поэтому Broadcom жертвует текущими продажами, чтобы избежать краха в будущем. С такой дисциплиной клиенты не могут делать запасы микросхем и спрос становится более стабильным.
            P Даже ограничивая поставки и отставая от коллег по цеху, Broadcom превышает ожидания рынка. В прошлом квартале компания выручила 6,78 млрд $ и заработала 6,96 $ на акцию. В текущем периоде прогнозируется еще больше — 7,35 млрд $.
            p Большинство аналитиков Bloomberg рекомендуют покупать акции Broadcom (26 оценок). Еще 6 — держать, 1 — продавать. В Wells Fargo подчеркивают сильную денежную позицию Broadcom, что позволит компании провести обратный выкуп акций или сделать «важное» приобретение.

        //- Блок 3
        .digest-content
            .digest-image
                img(src="inline(./views/september_2021/img/zhiyue-xu-7DOU5NlNIcE-unsplash.png)")
            .digest-h3 ФРС США сохранила процентные ставки
            .digest-label Важно для всех стратегий
            p В сентябре состоялось двухдневное заседание Федеральной резервной системы США, аналога российского Центробанка. Регулятор ожидаемо сохранил ставку на уровне 0—0,25% и не стал сокращать меры стимулирования экономики.
            p Тем не менее уже на следующем заседании 2-3 ноября ФРС может объявить (или даже начать) сворачивание программы количественного смягчения (QE). Повышение ключевой ставки также неизбежно: половина руководства ФРС ожидает его в 2022 году. Сейчас каждый месяц ФРС выкупает казначейские и ипотечные облигации на 120 млрд $.
            p «Тайминг (начало, конец, длительность) и темпы сокращения покупок активов не являются прямым сигналом к повышению процентных ставок», – подчеркнул председатель ФРС Джером Пауэлл.
            p Базовая ставка определяет стоимость внутренних займов для американских банков. Чем выше ставка, тем дороже банкам обходятся эти деньги, а следовательно и кредиты для предприятий.
            p ФРС изменила тональность и четко дала понять, что замедление QE может быть скоро гарантированно. Это снизило неопределенность вокруг политики регулятора и вызвало risk-on.

        //- Блок 4
        .digest-content
            .digest-image
                img(src="inline(./views/september_2021/img/tingey-injury-law-firm-veNb0DDegzE-unsplash.png)")
            .digest-h3 Apple vs Epic Games: дело закончено
            .digest-label Важно для стратегии «Alfa Life Technology Index»
            p 10 сентября суд принял решение в деле Apple против Epic Games. Требования компании Тима Кука удовлетворили по 9 из 10 пунктов, но по главному спорному моменту выиграл Epic Games: теперь ссылки на альтернативные платежные системы в App Store полностью разрешены.
            p Все началось с магазина приложений Apple. Epic Games добавил в свою игру Fortnite функции оплаты в обход App Store. Разработчики объяснили это слишком высокой комиссией Apple — она могла достигать 30%. Apple удалила Fortnite из магазина приложений. Epic Games подал в суд на Apple за «монополию на рынке», та подала встречный иск.
            p Теперь суд постановил: разработчики официально могут ставить ссылки на свои сайты для оплаты подписки или покупки цифрового контента. Это касается всех приложений, а не только с подписным медиаконтентом, исключение для которых Apple сделала недавно.
            p Для Apple все неоднозначно. Компанию не признали монополистом — и это хорошо. Однако суд постановил, что она «незаконно ограничивает выбор потребителей» в способе оплаты. В итоге после решения суда акции Apple снизились на 3%.
            p С одной стороны кажется, что Apple потеряет часть выручки с магазина приложений. Однако аналитики Morgan Stanley говорят: «В худшем сценарии даже если Apple потеряет выручку с разработчиков 20 главных приложений, ее прибыль на акцию (EPS) может снизиться лишь на 5%».

        //- Блок 5
        .digest-content
            .digest-image
                img(src="inline(./views/september_2021/img/simon-abrams-k_T9Zj3SE8k-unsplash 1.png)")
            .digest-h3 Qualcomm и Европа против кризиса чипов
            .digest-label Важно для стратегии «Всегда онлайн»
            p Qualcomm — один из крупнейших производителей полупроводников и чуть ли не главный бенефициар текущего кризиса чипов.
            p Еще в 2019 году у компании были серьезные неприятности: патентные споры с Apple, падение цен на продукцию, серьезная конкуренция со стороны Intel и Samsung. А сейчас Qualcomm поглядывает с интересом на европейских партнеров.
            p Глава Qualcomm Криштиано Амон заявил, что компания готова к сотрудничеству с европейскими производителями полупроводников, если власти простимулируют отрасль. Это хорошо в плане диверсификации: если и когда полупроводники будут производиться на территории Европы, Qualcomm сможет заказывать производство и в этом регионе тоже. Сейчас Евросоюз планирует многомиллиардные инвестиции, которые увеличат производство чипов на континенте в два раза.
            p Конкуренты Qualcomm также присматриваются к Европе: Intel вложит до 95 млрд $ для расширения производства полупроводников, а в Ирландии будет построен новый завод специально для автомобильных чипов.

        //- Блок 6
        .digest-content
            .digest-image
                img(src="inline(./views/september_2021/img/jeremy-bezanger-FVfuaCbrH5I-unsplash.png)")
            .digest-h3 Apple представила айфон на терабайт памяти
            .digest-label Важно для стратегии «Всегда онлайн»
            p На онлайн-презентации в сентябре Apple показала много новинок. Кратко рассказываем о каждой из них.
            p
                b Бюджетный iPad 9 и новый iPad Mini.
                | Первый почти не изменился, лишь стал на 20% быстрее. Mini обновился полностью: на 40% быстрее, угловатый корпус (как в iPhone), безрамочный дисплей (но с Touch ID), порт Type-C, сети 5G, поддержка Apple Pencil 2.
            p
                b Apple Watch 7.
                | Получили более яркий и увеличенный экран, прежний форм-фактор и более быструю зарядку. Выяснилось, что в них процессор от Series 6. Вместе с часами объявили, что подписка Fitness+ появится в 15 новых странах, включая Россию.
            p
                b iPhone 13 и 13 mini.
                | Дисплей ярче на 28%, процессор быстрее на 30%, графика — на 50%. Камеры почти те же, но с системой стабилизации, как в 12 Pro Max.
            p
                b iPhone 13 Pro и 13 Pro Max.
                | Дисплей ProMotion: айфон меняет частоту обновления дисплея от 10 до 120 Гц в зависимости от сценария использования. Новый огромный модуль камер: на 92% больше света, макро-съемка, телевик приближает до 3х, продвинутые функции для съемки видео. Максимальный объем памяти впервые составляет 1 терабайт.

    //- Разделение блока
    //- Динамика стратегий
    #digest-dynamics.digest-box
        .digest-h1 Динамика стратегий и где за ней следить
        .digest-image
            img(src="inline(./views/september_2021/img/Group 868.png)")
        .digest-image
            img(src="inline(./views/september_2021/img/Group 989.png)")
        .digest-image
            img(src="inline(./views/september_2021/img/Group 990.png)")
        .digest-row
            .digest-row-column.digest-row-column--7
                img(src="inline(./views/september_2021/img/Group 923.png)")
                p
                    b Как вели себя стратегии ИСЖ и почему? На что влияют заявления глав государств и центральных банков, какие отчетности презентуют голубые фишки США, Европы и Азии?
                p Все это — в интерактивном Экспрессе. Просто вбейте название нужной стратегии в поисковую строку.
                p Калькулятор на Экспрессе поможет вам объяснить клиенту работу купонных стратегий. Он подгружает реальные закупки с конкретными датами, целевыми уровнями и купонами.
                p Для потенциальных клиентов вы рассчитаете доход исходя из суммы вноса, а для действующих — оцените промежуточный результат работы программы и её перспективы.
            .digest-row-column.digest-row-column--5
                img.digest-image(src="inline(./views/september_2021/img/iphone.png)", style="mix-blend-mode: multiply" width="100%")

    //- Разделение блока
    //- Что происходит на рынках
    #digest-read.digest-box
        .digest-h1 Возможный дефолт китайского застройщика Evergrande. Что об этом надо знать
        .digest-content
            .digest-image
                img(src="inline(./views/september_2021/img/david-svihovec-xMH2vteiEY4-unsplash.png)")
            p Весь сентябрь деловые СМИ говорят о потенциальном крахе Evergrande. Сейчас Evergrande — главная финансовая опасность Китая, и она быстро страновится общей проблемой для всей мировой финансовой системы. Если коротко, Evergrande это гигантский китайский застройщик с долгами в 300 млрд долларов, и многие ожидают, что он объявит дефолт. У застройщика 1300 объектов недвижимости в 280 городах, но он занимается много чем еще: от электромобилей и СМИ до производства минеральной воды и управления футбольным клубом.
            .digest-h4 Evergrande в цифрах:
            .digest-label.digest-label--strong
                | 2 трлн юаней – объем активов Evergrande, эквивалентно 2% ВВП Китая
                br
                br
                | 1,4 млн – людей ждут недостроенных Evergrande квартир с конца июня
            p Инвесторы, фонды и рейтинговые агентства прогнозируют дефолт Evergrande и говорят, что реструктурировать долги практически невозможно. Ситуация с Evergrande уже начала влиять на мировые фондовые рынки и оказывать давление даже на компании, не связанные напрямую с Китаем или недвижимостью.
            .digest-h4 С чего все началось
            p Подавляющее большинство китайцев в качестве инвестиции до сих пор выбирают недвижимость, а не акции или облигации. Это привело к сильному росту цен на жилье и спекуляциям: некоторые виды жилья с 2015 года подорожали на 80%.
            p Власти Китая обратили на это внимание и ввели ряд ограничений в сфере недвижимости: от установление порога цены при перепродаже жилья до ограничения в выдаче займов застройщикам. В результате темпы роста цен на жилье и продажи резко упали. Это вызвало проблемы у застройщиков, включая Evergrande: долгие годы компания расширялась за счет кредитов, а теперь займы ограничены, а продажи обвалились.
            p
                b В итоге общий долг Evergrande перед банками и держателями облигаций составляет 300 млрд долларов. Компания не может закупать строительные материалы для работы, поэтому ряд проектов заморозили. На Evergrande давят три стороны: поставщики требуют оплатить счета, покупатели — возобновить строительные работы, а инвесторы ищут способы вернуть инвестиции.

            p Если дефолт Evergrande случится, он станет крупнейшим в китайской экономике. Это серьезно отразится на банковской системе, домохозяйствах, инвесторах и поставщиках.
            .digest-h4 Стоит ли паниковать
            p Большинство экономистов сходятся на мысли: не стоит сравнивать Evergrande и американский банк Lehman Brothers, с коллапса которого начался мировой финансовый кризис.
            p
                b • У них разный масштаб:
                |  у Lehman Brothers долг был в 2 раза больше, чем у Evergrande. При этом ситуация затрагивала всю финансовую систему в целом.
            p
                b • Крупнейшие кредиторы
                |  уже какое-то время знали о положении Evergrande и могли подготовиться.
            p
                b •
                |  При этом
                b  правительство КНР
                |  может легко допустить дефолт Evergrande и реструктурировать компанию.
            p
                b •
                |  Тем не менее крах
                b  крах Evergrande вызовет локальную турбулентность,
                |  но мировой кризис — вряд ли.

    //- Разделение блока
    //- ИНТЕРЕСНО
    #digest-interesting.digest-box
        .digest-h1 Всем интересно
        .digest-content
            .digest-section
                .digest-row
                    .digest-row-column
                        .digest-image.digest-image--abs
                            img(src="inline(./views/september_2021/img/shutterstock_1914240193.png)")
                        .digest-block
                            .digest-section__title.digest-section__title--white Сентярь стал плохим месяцем для рынков. Рассказываем, почему так произошло
                    .digest-row-column
                        .digest-block.digest-block--special
                            .digest-block-head
                                .digest-block-head__icon
                                    img(src="inline(./views/september_2021/img/pinching-hand_1f90f 1.png)", width="40px")
                                .digest-block-head__title ФРС США сократит стимулы
                            p Федеральная резервная система США, аналог российского центрального банка, намекнула о скором сворачии программы стимулирования и повышении процентных ставок. С начала пандемии ФРС выкупает казначейские и ипотечные облигации, что поддерживало фондовый рынок.
                            p С одной стороны, прозрачность в намерениях регулятора радует инвесторов, с другой — сворачивание мер поддержи ослабит рынок.

        .digest-row.digest-row--15
            .digest-row-column
                .digest-block.digest-block--special
                    .digest-block-head
                        .digest-block-head__icon
                            img(src="inline(./views/september_2021/img/rocket_1f680.png)", width="40px")
                        .digest-block-head__title Ускорение инфляции
                    p По всему миру ускоряется рост цен, это пугает инвесторов.
                    p Главные причины: рост цен на нефть и другие сырьевые товары из-за сложности доставки и высокого спроса, нехватка рабочей силы и повышение стоимости труда, проблемы с поставками товаров из-за COVID-19, увеличение потребительского спроса, рост общей денежной массы из-за стимулирующих мер центральных банков.
            .digest-row-column
                .digest-block.digest-block--special
                    .digest-block-head
                        .digest-block-head__icon
                            img(src="inline(./views/september_2021/img/chart-increasing_1f4c8.png)", width="40px")
                        .digest-block-head__title Рост доходности гособлигаций США
                    p Доходность казначейских облигаций США растет на фоне ускорения инфляции. Инвесторы опасаются, что инфляция уменьшит фиксированный доход, поэтому избавляются от долговых бумаг — это приводит к снижению их цены и росту доходности.
                    .digest-label.digest-label--small Повышение доходности гособлигаций перетягивает инвесторов с фондового рынка.

        .digest-section
            .digest-row
                .digest-row-column
                    .digest-block.digest-block--special
                        .digest-block-head
                            .digest-block-head__icon
                                img(src="inline(./views/september_2021/img/hand.png)", width="40px")
                            .digest-block-head__title
                                | Evergrande
                                br
                                |  и действия Китая
                        p С лета власти Китая оказывают регуляторное давление на ряд секторов: образовательные сервисы, игровые компании, криптовалюта. В сентябре возникла проблема потенциального дефолта одного из крупнейших застройщиков Китая Evergrande.
                .digest-row-column
                    .digest-image.digest-image--abs
                        img(src="inline(./views/september_2021/img/shutterstock_1053218069.png)")
                    .digest-block
                        .digest-section__title.digest-section__title--white В сентябре сошелся ряд негативных для рынков факторов