html
    head
        title Генерация отчетов
        // inject-style src="./dist/css/base.css"
    body
        section.section-header
            table.section-header-table
                tr
                    td.section-header-table-icon
                        img(src="")
                    td.section-header-table-name ИНВЕСТИЦИОННОЕ СТРАХОВАНИЕ ЖИЗНИ
                    td.section-header-table-line
                        hr
                    td.section-header-table-logo
                        img(src="")
        section.section-main
            table.section-main-table
                td.section-main-table__cell ОТЧЕТ
                td.section-main-table__cell Данные по программе
        section.section.section-policy
            .section-head
                .section-head__title Общие данные по полису 1234567/D-1
            .section-body
                table.table
                    tr
                        td.table-column.table-column--left.table-column--br
                            table
                                tr
                                    td.table-cell.table-cell--bold Дата начала действия договора
                                    td.table-cell.table-cell--right 01.01.2020
                                tr
                                    td.table-cell.table-cell--bold Валюта
                                    td.table-cell.table-cell--right название валюты
                                tr
                                    td.table-cell.table-cell--bold Общая сумма взносов
                                    td.table-cell.table-cell--right 00,00 $
                                tr
                                    td.table-cell.table-cell--bold Общая сумма выплат
                                    td.table-cell.table-cell--right 00,00 $
                        td.table-column.table-column--right
                            table
                                tr
                                    td.table-cell.table-cell--bold ФИО страхователя
                                    td.table-cell.table-cell--right Дацковский Владимир Владимирович
                                tr
                                    td.table-cell.table-cell--bold ФИО застрахованного
                                    td.table-cell.table-cell--right Мешкова Елена Игоревна
                                tr
                                    td.table-cell.table-cell--bold Страховое покрытие
                                    td.table-cell.table-cell--right 00,00 $
                                tr
                                    td.table-cell.table-cell--bold ГСС
                                    td.table-cell.table-cell--right 00,00 $
        section.section-info
            .section-info__title Полис в цифрах
            table.section-info-table
                tr
                    // [1]
                    td.section-info-table__cell
                        .section-info-box
                            .section-info-box__name
                                | Текущая оценка
                                br
                                |  портфеля + ГСС
                            .section-info-box__money 00,00 $
                    // [2]
                    td.section-info-table__cell
                        .section-info-box__name
                            | Изменение стоимости
                            br
                            |  портфеля в валюте полиса
                        .section-info-box__money 00,00 $
                    // [3]
                    td.section-info-table__cell
                        .section-info-box__name
                            | Изменение стоимости
                            br
                            |  портфеля в %
                        .section-info-box__money 00,00
                    // [4]
                    td.section-info-table__cell
                        .section-info-box__name
                            | Годовая доходность
                            br
                            |  портфеля, %
                        .section-info-box__money 00,00
        section.section.section-strategy
            .section-head
                .section-head__title Стратегии в портфеле
            .section-body
                table.section-strategy-table
                    tr
                        th.section-strategy-table__head Название стратегии
                        th.section-strategy-table__head Текущая оценка
                        th.section-strategy-table__head Стоимость юнита
                        th.section-strategy-table__head Доход, %
                    tr
                        td.section-strategy-table__cell
                            .section-strategy-item
                                .section-strategy-item__num 1
                                .section-strategy-item-icon
                                    img.section-strategy-item-icon__image(src="")
                                .section-strategy-item__name «Ход конём»

                        td.section-strategy-table__cell 00,00 $
                        td.section-strategy-table__cell 00,00 $
                        td.section-strategy-table__cell 00,00 %
                    tr
                        td.section-strategy-table__cell
                            .section-strategy-item
                                .section-strategy-item__num 2
                                .section-strategy-item-icon
                                    img.section-strategy-item-icon__image(src="")
                                .section-strategy-item__name «Миллениалы»

                        td.section-strategy-table__cell 00,00 $
                        td.section-strategy-table__cell 00,00 $
                        td.section-strategy-table__cell 00,00 %
                    tr
                        td.section-strategy-table__cell
                            .section-strategy-item
                                .section-strategy-item__num 4
                                .section-strategy-item-icon
                                    img.section-strategy-item-icon__image(src="")
                                .section-strategy-item__name «Блокчейн»

                        td.section-strategy-table__cell 00,00 $
                        td.section-strategy-table__cell 00,00 $
                        td.section-strategy-table__cell 00,00 %
                    tr
                        td.section-strategy-table__cell
                            .section-strategy-item
                                .section-strategy-item__num 5
                                .section-strategy-item-icon
                                    img.section-strategy-item-icon__image(src="")
                                .section-strategy-item__name «Блокчейн»

                        td.section-strategy-table__cell 00,00 $
                        td.section-strategy-table__cell 00,00 $
                        td.section-strategy-table__cell 00,00 %
                    tr
                        td.section-strategy-table__cell
                            .section-strategy-item
                                .section-strategy-item__num 6
                                .section-strategy-item-icon
                                    img.section-strategy-item-icon__image(src="")
                                .section-strategy-item__name «Блокчейн»

                        td.section-strategy-table__cell 00,00 $
                        td.section-strategy-table__cell 00,00 $
                        td.section-strategy-table__cell 00,00 %
                    tr
                        td.section-strategy-table__cell
                            .section-strategy-item
                                .section-strategy-item__num 6
                                .section-strategy-item-icon
                                    img.section-strategy-item-icon__image(src="")
                                .section-strategy-item__name «Блокчейн»

                        td.section-strategy-table__cell 00,00 $
                        td.section-strategy-table__cell 00,00 $
                        td.section-strategy-table__cell 00,00 %
                    tr
                        td.section-strategy-table__cell
                            .section-strategy-item
                                .section-strategy-item__num 7
                                .section-strategy-item-icon
                                    img.section-strategy-item-icon__image(src="")
                                .section-strategy-item__name «Блокчейн»

                        td.section-strategy-table__cell 00,00 $
                        td.section-strategy-table__cell 00,00 $
                        td.section-strategy-table__cell 00,00 %
                    tr
                        td.section-strategy-table__cell
                            .section-strategy-item
                                .section-strategy-item__num 8
                                .section-strategy-item-icon
                                    img.section-strategy-item-icon__image(src="")
                                .section-strategy-item__name «Блокчейн»

                        td.section-strategy-table__cell 00,00 $
                        td.section-strategy-table__cell 00,00 $
                        td.section-strategy-table__cell 00,00 %
                    tr
                        td.section-strategy-table__cell
                            .section-strategy-item
                                .section-strategy-item__num 9
                                .section-strategy-item-icon
                                    img.section-strategy-item-icon__image(src="")
                                .section-strategy-item__name «Блокчейн»

                        td.section-strategy-table__cell 00,00 $
                        td.section-strategy-table__cell 00,00 $
                        td.section-strategy-table__cell 00,00 %
