// inject-style src="./dist/css/styles.css"
// inject:script:js
// endinject

.digest
    .digest-menu
        a.digest-menu__item(data-custom-anchor href="#digest-ratings") РЕЙТИНГИ И СБОРЫ
        a.digest-menu__item(data-custom-anchor href="#digest-herald") ВЕСТНИК СТРАТЕГИЙ
        a.digest-menu__item(data-custom-anchor href="#digest-dynamics") ДИНАМИКА
        a.digest-menu__item(data-custom-anchor href="#digest-read") ПОЧИТАТЬ
        a.digest-menu__item(data-custom-anchor href="#digest-interesting") ВСЕМ ИНТЕРЕСНО

    //- Разделение блока
    //- Рейтинги и сборы
    #digest-ratings.digest-box
        .digest-h1 Рейтинги и сборы
        p Для каждого дайджеста мы анализируем статистику по сборам текущего квартала и определяем лучших сотрудников. Они усердно работали и показали лучший результат.
        p
            b Уверены, достижения ваших коллег станут хорошим примером и вдохновят вас на активные продажи!

        .digest-section
            .digest-section-head
                .digest-section-heading
                    .digest-section-heading-item.digest-section-heading-item--left
                        img(src="inline(./img/lp-digest-heading--left.png)")
                    .digest-section-heading-item.digest-section-heading-item--center
                        .digest-section-heading-item__title Топ-5 областных центров
                    .digest-section-heading-item.digest-section-heading-item--right
                        img(src="inline(./img/lp-digest-heading--right.png)")
            .digest-section-body
                table.digest-table
                    tr
                        td.digest-table__cell
                            b Макрорегион
                        td.digest-table__cell
                            b Обл. центр
                        td.digest-table__cell
                            b % выплат
                    tr
                        td.digest-table__cell Урал
                        td.digest-table__cell Пермь
                        td.digest-table__cell.digest-table__cell--red
                            b 141,4
                    tr
                        td.digest-table__cell Урал
                        td.digest-table__cell Нижний Тагил
                        td.digest-table__cell.digest-table__cell--red
                            b 139,5
                    tr
                        td.digest-table__cell Северное Поволжье
                        td.digest-table__cell Казань
                        td.digest-table__cell.digest-table__cell--red
                            b 134,8
                    tr
                        td.digest-table__cell Северное Поволжье
                        td.digest-table__cell Нижний Новгород
                        td.digest-table__cell.digest-table__cell--red
                            b 131,3
                    tr
                        td.digest-table__cell Центр
                        td.digest-table__cell Тула
                        td.digest-table__cell.digest-table__cell--red
                            b 124,9
        .digest-section
            .digest-section-head
                .digest-section-heading
                    b Крупные сделки декабря
            .digest-section-body
                table.digest-table
                    tr
                        td.digest-table__cell
                            b Макрорегион
                        td.digest-table__cell
                            b ФИО сотрудника
                        td.digest-table__cell
                            b Страховой взнос
                    tr
                        td.digest-table__cell Урал
                        td.digest-table__cell Денис Дияров
                        td.digest-table__cell.digest-table__cell--red
                            b 8 302 702 ₽
                    tr
                        td.digest-table__cell Северное Поволжье
                        td.digest-table__cell Христина Новикова
                        td.digest-table__cell.digest-table__cell--red
                            b 3 800 000 ₽

    //- Разделение блока
    //- Вестник стратегий
    #digest-herald.digest-box
        .digest-h1 Вестник стратегий
        //- Блок 1
        .digest-content
            .digest-image
                img(src="inline(./views/december_2021/img/1block_1.png)")
            .digest-h3 Apple — первая компания с капитализацией три триллиона долларов
            .digest-label Важно для стратегии «Всегда онлайн»
            p Это первый случай в истории, когда рыночная стоимость компании превысила отметку в три триллиона долларов. Об этом свидетельствовали данные Нью-Йоркской фондовой биржи в середине первого дня торгов 2022 года.
            p В августе 2020 года капитализация Apple достигла 2 триллиона. Таким образом, компании понадобилось около 16 месяцев, чтобы достичь отметки 3 триллиона долларов. Это больше объема всего фондового рынка Германии или экономики Великобритании, отмечает Bloomberg. Второе место в этом списке занимает Microsoft, третье — Saudi Aramco.
            p
                b Что послужило драйвером роста бумаг?
            ul
                li
                    p
                        b Отсрочка по внешним платежам.
                        |  В сентябре суд обязал Apple внедрить альтернативные платежные системы в обход AppStore. А 8 декабря компания получила отсрочку и пока продолжит зарабатывать на комиссиях — до 30 % с каждой трансакции.
                li
                    p
                        b Бюджетные смартфоны.
                        |  В следующем году Apple планирует выпустить iPhone SE               с поддержкой 5G. Аналитики JPMorgan прогнозируют: вместо нынешних 399 долл. смартфоны будут стоить 269-369 долл. По оценкам, это позволит Apple привлечь более миллиарда пользователей.
                li
                    p
                        b Новые продукты.
                        |  В Morgan Stanley повысили целевой прогноз до 200 долл.: там считают, что драйвером котировок могут стать новые продукты с использованием дополненной реальности и технология беспилотных автомобилей.
        //- Блок 2
        .digest-content
            .digest-image
                img(src="inline(./views/december_2021/img/1block_2.png)")
            .digest-h3 PayPal подумывает о запуске своей криптовалюты
            .digest-label Важно для стратегии «Драйверы роста»
            p В коде приложения онлайн-кошелька нашли упоминание PayPal Coin и логотип будущей цифровой валюты, привязанной к доллару США.
            p По словам старшего вице-президента по криптовалюте и цифровым валютам компании Хосе Фернандеса да Понте в сообщении Bloomberg, платежный онлайн-сервис PayPal задумался о выпуске собственной криптовалюты.
            p PayPal изучает возможность выпуска так называемого стейблкоина (stablecoin), пояснил топ-менеджер. Такие криптовалюты привязаны к существующим валютам или другому реальному активу, что помогает стабилизировать их стоимость. Криптовалюта компании может получить название PayPal Coin и будет привязана к доллару США.
            p PayPal в марте 2021 года разрешил пользователям платить криптовалютой и с тех пор расширил набор инструментов для операций с ней. Допуск криптовалют в PayPal и принятие их другими институциональными инвесторами были в числе причин нового подъема стоимости криптовалют, особенно биткоина, цена которого в ноябре 2021 года поднялась выше 68 000 долл. С тех пор крупнейшая в мире криптовалюта подешевела на 40 %.
        //- Блок 3
        .digest-content
            .digest-image
                img(src="inline(./views/december_2021/img/1block_3.png)")
            .digest-h3 Broadcom — в списке лучших компаний в индустрии полупроводников
            .digest-label Важно для стратегии «Всегда онлайн»
            p По мнению экспертов, облачные технологии, 5G, беспилотные авто, метавселенные и искусственный интеллект — главные драйверы роста полупроводниковых компаний.
            p В начале декабря компания Broadcom опубликовала финансовые результаты за IV квартал 2021 финансового года. Результаты за квартал оказались лучше консенсус-прогнозов Уолл-стрит, компания заработала рекордную выручку, а также сообщила о позитивных прогнозах, превзойдя оценки аналитиков.
            p Выручка от полупроводникового бизнеса составила 6 млрд долл., что на 17 % больше, чем годом ранее — на уровне ожиданий Уолл-стрит. Выручка от продажи программного обеспечения составила 1,8 млрд долл., увеличившись на 8 % г/г, что превышает прогноз аналитиков — $1,73 млрд.
            p Deutsche Bank и Wells Fargo отмечают большой объем заказов со стороны клиентов Broadcom вплоть до 2023 года и быстрорастущую дивидендную доходность. Goldman же указывает на стабильный рост выручки и высокую маржу по сравнению с конкурентами.
            p В список лучших компаний в индустрии полупроводников, по мнению аналитиков, также вошли Micron, Nvidia и Marvell.
    //- Разделение блока
    //- Динамика стратегий
    #digest-dynamics.digest-box
        .digest-h1 Динамика стратегий
        .digest-image
            img(src="inline(./views/december_2021/img/chart-december_1.png)")
        .digest-image
            img(src="inline(./views/december_2021/img/chart-strategy-december_1.png)")
        .digest-image
            img(src="inline(./views/december_2021/img/chart-strategy-december_2.png)")

    //- Разделение блока
    //- Что происходит на рынках
    #digest-read.digest-box
        .digest-h1
            | Что ждет фондовый рынок в 2022 году.
            br
            | Собрали мнения аналитиков
        .digest-content
            .digest-image
                img(src="inline(./views/december_2021/img/image-december_fonds.png)")
            p
                b 2021 год был тяжелым и непредсказуемым для мировой экономики. Точные прогнозы на 2022-й — вещь пока недостижимая. Но есть общие направления, относительно которых аналитики сходятся во мнении.
            .digest-h4 Главные цифры
            .digest-label.digest-label--strong
                b 0-0, 25 %
                |  – ставка ФРС осталась без изменений.
                br
                b — 13,7 %
                |   – падение индекса Гонконгской фондовой биржи Hang Seng за декабрь.
            p
                b Вот результаты исследования Bloomberg:
            ul
                li
                    p
                        b Пандемия.
                        |  В 2020-2021 именно COVID-19 был главным драйвером рынков. Фармкомпании на нем росли, а авиаперевозчики, напротив, падали. Но в 2022 году влияние коронавируса будет снижено — вакцин уже много, и даже таблетки от Pfizer и Merck запущены в производство. И все-таки предугадать, как именно будет развиваться ситуация с COVID-19, крайне сложно.
                li
                    p
                        b Инфляция.
                        |  В 2021 году корпорации перекладывали повышенные расходы на плечи потребителя. Рост цен в 2022 году отразится на прибыли компаний и их акциях. К тому же аналитики ждут ужесточения политики центробанков, в особенности ФРС США. Решение проблемы инфляции может стать поворотным моментом для фондовых рынков в следующем году.
                li
                    p
                        b Декарбонизация.
                        |  Одна из причин высокой инфляции — переход к углеродной нейтральности. Это обязательство взяли на себя ведущие экономики мира от США до Индии. Проблема в том, что переход на «чистую» энергию стоит очень дорого, хотя и толкает вверх определенные компании. Та же Tesla с начала прошлого года выросла на 1000 %. В следующем году стоит пристально следить за производителями электрокаров и «зеленой» энергетикой.
                li
                    p
                        b Метавселенные.
                        |  После презентации Meta в экономике четко наметился новый вектор развития. Meta, NVIDIA, Nike — вот лишь небольшой список компаний, нацелившихся на переход к AR и VR. Нет причин думать, что в следующем году интерес к метавселенным спадет.
                li
                    p
                        b Китай.
                        |  Паровоз китайской экономики в этом году серьезно притормозил из-за действий регулятора. Пекин принял решительные меры по ограничению прибыли бигтехов, ограничил обучающие компании и кредитование девелоперов. Все это не могло не отразиться на экономике страны. В целом аналитики считают, что пик регулирования уже пройден, настала пора для открытия позиций.
            p
                b Есть и другие факторы, способные повлиять на мировую экономику: выборы в Конгресс США, президентские выборы во Франции, напряженность на Тайване, последствия краха турецкой лиры.
    //- Разделение блока
    //- ИНТЕРЕСНО
    #digest-interesting.digest-box
        .digest-h1 Всем интересно
        .digest-content
            .digest-section
                .digest-row
                    .digest-row-column
                        .digest-image.digest-image--abs
                            img(src="inline(./views/december_2021/img/image-december_usa.png)")
                        .digest-block
                            .digest-section__title.digest-section__title--white.digest-section__title--centered Разворот в политике ФРС США
                    .digest-row-column
                        .digest-block.digest-block--special
                            .digest-block-head
                                .digest-block-head__icon
                                    img(src="inline(./img/icon-rocket_32x32.png)", width="32px")
                                .digest-block-head__title Ускорение тейперинга
                            p ФРС выкупала облигации на рынке на сумму 15 млрд долл. в месяц. Как и ожидалось, по итогам заседания QE решили ускорить.
                            p Сумму выкупа облигаций решили увеличить вдвое, до 30 млрд $. Таким образом, программа количественного смягчения может быть завершена уже к середине марта
        .digest-row.digest-row--15
            .digest-row-column
                .digest-block.digest-block--special
                    .digest-block-head
                        .digest-block-head__icon
                            img(src="inline(./img/icon-chart_32x32.png)", width="32px")
                        .digest-block-head__title Повышение ставки
                    p
                        | Текущая процентная ставка — 0...0,25 %.    При этом большинство членов Комитета     по открытым рынкам ждут сразу трех повышений ставки в 2022 году в качестве ответа на высокую инфляцию.
                        br
                        br
                        |  В 2023 году их может быть еще 3-4 — таким образом, ключевая ставка может подняться до 2 %.
            .digest-row-column
                .digest-block.digest-block--special
                    .digest-block-head
                        .digest-block-head__icon
                            img(src="inline(./img/icon-plane_32x32.png)", width="32px")
                        .digest-block-head__title Инфляция
                    p
                        | Инфляция по-прежнему считается главной угрозой для экономики США. Несмотря      на восстановление экономики, рост потребительской способности и сокращение уровня безработицы, инфляция все еще значительно превышает долгосрочную цель в 2 %.
                        br
                        br
                        |  И если ранее ФРС называла инфляцию временным явлением, из последнего заявления эта формулировка исчезла.
        .digest-section
            .digest-row
                .digest-row-column
                    .digest-block.digest-block--special
                        .digest-block-head
                            .digest-block-head__icon
                                img(src="inline(./img/icon-money_32x32.png)", width="32px")
                            .digest-block-head__title Реакция рынков
                        p
                            | Американский фондовый рынок положительно отреагировал на решение ФРС в надежде, что ужесточение денежно-кредитной политики поможет снизить уровень инфляции. Индекс Dow Jones Industrial Average вырос на 1,1 %, Nasdaq Composite — на 2,2 %, S&P 500 — на 1,6 %.
                            br
                            br
                            |  Вслед за американскими начали расти и азиатские индексы.
                .digest-row-column
                    .digest-image.digest-image--abs
                        img(src="inline(./views/december_2021/img/image-december_money.png)")
                    .digest-block
                        .digest-section__title.digest-section__title--white.digest-section__title--centered Ужесточение политики ФРС — давление на рынок
